<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * The content below * * * * * * * * * * * -->
<!-- * * * * * * * * * * is only a placeholder * * * * * * * * * * -->
<!-- * * * * * * * * * * and can be replaced.  * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * Delete the template below * * * * * * * * * -->
<!-- * * * * * * * to get started with your project! * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!doctype html>
<html lang="en">

<body>
  <div>
    <h1>Slap countdown</h1>
  </div>
  <div>
      <div class="first">
        <h1 class="timer">{{days}}</h1>
        <span class="text">DAYS</span>
      </div>
      <div class="second">
        <h1 class="timer">{{hours}}</h1>
        <span class="text">HOURS</span>
      </div>
      <div class="third">
        <h1 class="timer">{{minutes}}</h1>
        <span class="text">MINUTES</span>
      </div>
      <div class="fourth">
        <h1 class="timer">{{seconds}}</h1>
        <span class="text">SECONDS</span>
      </div>
  </div>
</body>
</html>




<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * The content above * * * * * * * * * * * * -->
<!-- * * * * * * * * * * is only a placeholder * * * * * * * * * * * -->
<!-- * * * * * * * * * * and can be replaced.  * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * End of Placeholder  * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->


